* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(51, 51, 51);
}

section {
  background-color: rgb(146, 166, 233);
  height: 100vh;
  font-family: sans-serif;
  color: var(--text-color);
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-section h1 {
  font-size: 40px;
}

.intro-section button,
.options button,
.replay {
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: #d629bf;
  border: 2px solid #601155;
  color: white;
  font-size: 20px;
  pointer-events: all;
  cursor: pointer;
  margin: 40px;
}

.game {
  position: relative;
  top: -95vh;
}

.life {
  position: absolute;
  right: 30px;
}

.game section {
  position: relative;
  top: 70px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-board h2 {
  font-size: 32px;
}

.score-board p {
  font-size: 25px;
  text-align: center;
  margin: 5px;
}

.match h2 {
  text-align: center;
  font-size: 42px;
  margin: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hands {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.computer-hand {
  transform: rotateY(180deg);
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease-in;
}

@keyframes shakeComputer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  25% {
    transform: rotateY(180deg) translateY(-50px);
  }
  35% {
    transform: rotateY(180deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-50px);
  }
  65% {
    transform: rotateY(180deg) translateY(0px);
  }
  75% {
    transform: rotateY(180deg) translateY(-50px);
  }
  85% {
    transform: rotateY(180deg) translateY(0px);
  }
  100% {
    transform: rotateY(180deg) translateY(-50px);
  }
}

@keyframes shakePlayer {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  35% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  65% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@media only screen and (max-width: 600px) {
  .hands img {
    height: 150px;
  }

  .intro-section h1 {
    font-size: 32px;
  }

  .options button {
    width: 100px;
    height: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .life img {
    height: 30px;
  }
}
